/* Core Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img, video, svg {
  width: 100%;
  height: auto;
  vertical-align: middle;
} */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  height: 100vh;
  font-family: 'Duru Sans', 'Work Sans', 'Oswald', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a, img, span, i {
  display: inline-block;
}

.container {
  width: 1136px;
  margin: 0 auto;
}

.icon-link,
.language-items__link,
.dropmenu-link {
  color: #000;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.95rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #76A713;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #8bbf31;
  box-shadow: 0 10px 18px -10px #76A713;
}

/* Site Header Styles */
#site-header {
  max-width: 100%;
}

#home-page {
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(0.5fr, auto);
}

#menu-bar {
  width: 100%;
  display: grid;
  padding: 1rem 0;
  grid-template-columns: repeat(2, auto);
  place-content: center space-between;
}

#location-email {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, auto));
}

.icon-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-link + .icon-link {
  margin-left: 1.81rem;
}

.icon-link i {
  color: #76A713;
}

.adres {
  margin-left: 0.56rem;
}

#language-social {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, auto));
  place-content: center space-between;
  place-items: center flex-end;
}

.language-items {
  position: relative;
}

.language-items:hover .language-item__dropmenu {
  transform: scaleY(1);
}

.language-items__link, .dropmenu-link {
  display: flex;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1rem;
}

.language-items__link i {
  margin-left: 0.3125rem;
  color: #76A713;
}

.language-item__dropmenu {
  background-color: #EEEEEE;
  padding: 0.5rem;
  position: absolute;
  top: 1.4rem;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
}

.language-item__dropmenu::after {
  content: " ";
  width: 0.7rem;
  height: 0.7rem;
  background-color: #EEEEEE;
  position: absolute;
  top: -0.3rem;
  left: 20%;
  transform: rotate(45deg);
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-link + .social-link {
  margin-left: 1.25rem;
}

.social-link i {
  transition: 0.4s ease-in-out;
  color: #CCCCCC;
}

.social-link i:hover {
  color: #76A713;
}

#site-nav {
  max-width: 100%;
  display: grid;
  padding: 1.9rem 0;
  grid-template-columns: 0.2fr 0.5fr 0.3fr;
  place-content: center space-between;
  place-items: center flex-start;
}

.site-nav__logo {
  width: 13.5rem;
  height: 3.1rem;
  cursor: pointer;
}

.site-nav__items {
  width: 25.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.site-nav__link {
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1rem;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.site-nav__link:hover {
  color: #76A713;
}

.site-nav__login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-end;
}

.site-nav__login .btn {
  padding: 0.6rem 1.8rem;
}

.social-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
  position: relative;
}

.social-icon i {
  color: #000;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #76A713;
  color: #fff;
  line-height: 1rem;
  text-align: center;
  font-size: 0.5rem;
  position: absolute;
  top: -0.1rem;
  left: 50%;
}

/* Site Main */

#site-main {
  max-width: 100%;
}

/* Hero Section */
#hero-section {
  max-width: 100%;
  background: rgba(118, 167, 19, 0.31);
}

.hero-section .container {
  position: relative;
}

#hero-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
  align-items: center;
  padding-top: 5.125rem;
  padding-bottom: 11.125rem;
}

.content-title {
  width: 29.6rem;
  min-height: 20.0625rem;
  font-weight: 500;
  font-size: 5rem;
  font-family: Oswald;
  line-height: 7.41rem;
  text-transform: uppercase;
}

.content-title span{
  font-weight: 500;
  font-size: 3.125rem;
  font-family: Oswald;
  line-height: 4.63125rem;
  text-transform: uppercase;
  color: #76A713;
  display: inline-block;
  margin-bottom: 2rem;
}

.hero-section__content .btn {
  width: 10rem;
  padding: 0.6rem 1.8rem;
  margin-top: 1.75rem;
}

.arrow-box {
  width: 76rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 45%;
  left: -4%;
}

.arrow {
  width: 2.5em;
  height: 2.5em;
  color: #222;
  background-color: transparent;
  border: 1px solid #76A713;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:active {
  background-color: #76A713;
  color: #fff;
}

.active {
  background-color: #76A713;
  color: #fff;
}

.hero-section__img {
  background-image: url(/images/metatag.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

.services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 4.56rem 1rem;
  position: absolute;
  left: 0;
  bottom: -11%;
}

.services-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-right: 1px solid #ddd;
}

.services-type:last-child {
  border: none;
}

.services-type__svg {
  width: 3.75rem;
  margin-right: 1.25rem;
}

.services-title {
  font-size: 1.25rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-family: Oswald;
  letter-spacing: 3%;
  color: #000;
}

.services-subtitle {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  color: #666666;
  margin-top: 0.375rem;
}

/* Quality Section Style */
#quality-section {
  max-width: 100%;
}

#quality-section__box {
  width: 100%;
  padding-top: 12.3125rem;
  padding-bottom: 6.25rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  column-gap: 1.57rem;
}

#quality-section__img {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: auto;
  place-content: start space-between;
  grid-template-areas: "img1 img2"
                       "img1 box";
  column-gap: 1.375rem;
  row-gap: 1.1875rem;
}

.jonathan-kamper {
  grid-area: img1;
}

.dose-juice {
  grid-area: img2;
}

.description {
  width: 16.875rem;
  min-height: 6.25rem;
  border: 1px dashed #76A713;
  grid-area: box;
}

.description-text {
  border: none;
  font-weight: 500;
  font-family: Oswald;
  font-size: 1.5rem;
  font-style: normal;
  color: #76A713;
  line-height: 2.23rem;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 0.625rem;
}

.description-text span {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.78rem;
}

.quality-section__content {
  width: 100%;
  display: grid;
  grid-template-rows: 0.3fr 0.5fr 0.1fr 0.1fr;
}

.section-title {
  font-weight: 500;
  font-style: normal;
  font-family: Oswald;
  font-size: 3.75rem;
  line-height: 5.5rem;
  color: #191D28;
  margin-bottom: 2.43rem;
}

.blockquote {
  display: flex;
  position: relative;
  border-left: 2px solid #76A713;
  padding-left: 1rem;
  margin-top: 2.18rem;
}

.section-subtitle, .blokquote-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #888;
}

.comma-img {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 60%;
}

.comma {
  width: 0.75rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.user-info {
  margin-top: 1rem;
}

.user-name {
  font-family: Oswald;
  font-size: 1.125rem;
  line-height: 1.56rem;
  color: #000;
}

.user-job {
  font-weight: 500;
  font-size: 0.81rem;
  line-height: 1.125rem;
  color: #aaa;
}

#categories-section {
  width: 100%;
  padding: 6.25rem 7.18rem;
  background-color: #F8F8F8;
}

#categories-section__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 1.875rem;
}

.categories-section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #DDDDDD;
  transition: all 0.2s ease-in-out;
}

.categories-section__item:hover {
  border: 1px solid #76A713;
  background-color: #fff;
}

.categories-section__img img{
  transition: all 0.9s ease-in-out;
}

.categories-section__item:hover .categories-section__img img {
  transform: scale(1.1);
}

.categories-section__text {
  width: 13.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-type {
  font-weight: 500;
  font-family: Oswald;
  font-size: 1.8rem;
  line-height: 2.77rem;
  color: #76A713;
}

.product-description {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: #888888;
  margin-top: 0.8rem;
}

.btn-wrapper {
  margin-top: 1.68rem;
}

.btn-wrapper .btn {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.btn-wrapper .btn i {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #76A713;
  color: #76A713;
}

.btn-wrapper .btn span {
  height: 2.5rem;
  display: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 0.3rem 1.125rem;
  background-color: #76A713;
  transition: all 0.3s ease-in-out;
}

.btn-wrapper:hover .btn i {
  display: none;
}

.btn-wrapper:hover .btn span {
  display: block;
}